<table
    style="background: linear-gradient(180deg,#ffffff 0%,#ffffff 32.81%,#e9e9e9 64.58%,#efebeb 100%);box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.18);margin-top: 10px;margin-bottom: 10px;border: 1px solid rgba(169, 169, 169, 0.47); border-collapse:collapse;"
    align="center" width="593" cellspacing="0" cellpadding="0" border="0" border-collapse="collapse">

    <tbody>
        <tr>
            <th width="189px"></th>
            <th width="407px"></th>
        </tr>
        <tr>
            <td width="189px">
                <img src="http://100.25.214.91:3000/Polariscore/upload/view/header-logo.png" width="189px" alt=""
                    style="width:100%; height:100%;">
            </td>
            <td>
                <img src="http://100.25.214.91:3000/Polariscore/upload/view/header-width.png" alt="">

            </td>
        </tr>
        <tr>
            <td style="padding: 0 8px;" colspan="2">
                <p style="font-family: sans-serif;font-weight: 600;">Cordial saludo.</p>
                <p style="font-family: sans-serif;">Estimado usuario, atendiendo a su solicitud enviamos el siguiente
                    <a href="{{link}}" target="blank">link</a> desde el cual podrá cerrar las sesiones abiertas.</p>
            </td>
            <td style="display: none;"></td>
        </tr>
        <tr>
            <td colspan="2">
                <table
                    style="width: 100%;background-image: url(http://100.25.214.91:3000/Polariscore/upload/view/shadow.png);background-size: 620px 211px;background-position: center 12px;background-repeat: no-repeat;"
                    width="100%" height="174px" center>
                    <tbody>
                        <tr>
                            <td>
                                <table
                                    style="height: 110px;width: 447px;background-image: url(http://100.25.214.91:3000/Polariscore/upload/view/boxwhite.png);background-size: 100% 100%;background-position: center;border-radius: 0 20px;"
                                    align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table style="height: 100%;width: 86px;" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td width="86px" height="86px" xml="lang">
                                                                <img width="66" height="66" border="1"
                                                                    style="width: 86px;height: 86px;border-radius: 50px;border: 5px solid #008a96;"
                                                                    src="http://100.25.214.91:3000/Polariscore/upload/view/key.png"
                                                                    alt="">
                                                            </td>
                                                        </tr>
                                                        <tr style="height: 35%;">
                                                            <td width="86px" height="40px" xml="lang"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="height: 100%;width: 424px;" align="center">
                                                    <tbody>
                                                        <tr style="height: 28px;">
                                                            <td xml="lang"></td>
                                                        </tr>
                                                        <tr>
                                                            <td xml="lang">
                                                                <p
                                                                    style="margin: 0;white-space: nowrap;font-family: sans-serif;font-weight: 600;">
                                                                    <a href="{{link}}" target="blank">{{link}}</a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="display: none;"></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="http://100.25.214.91:3000/Polariscore/upload/view/footer.png" alt="">
            </td>
            <td style="display: none">

            </td>
        </tr>
    </tbody>
</table>